body{
  background-color: rgb(53, 86, 235);
}

.App {
  text-align: center;
}

.fixed-header{
  position: fixed;
}

input::placeholder{
  color: white !important;
}

.card-img{
  max-height:24rem !important;
  min-height:24rem;
  position: relative;
}
.change-cursor{
  cursor:pointer;
}